@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&amp;family=Inter:wght@300;400;500;600;700;800;900&amp;display=swap");
:root {
  --bodyColor: #222222;
  --bodyBg: #fbfbfb;
  --bodyBg1: #F7F7F7;
  --whiteColor: #ffffff;
  --whitegrey: #6A7C92;
  --whitegrey1: #EDEDED;
  --whitegrey2: #F2F6F7;
  --whitegrey3: #E7DEFF;
  --headingColor: #222222;
  --contentColor: #5F6C76;
  --contentColor2: #5C727D;
  --primaryColor: #01155a;
  --secondaryColor: #a56509;
  --secondaryColor2: #FF275A;
  --secondaryColor3: #FF2828;
  --blackColor: #000000;
  --blackColor2: #191B1E;
  --darkblack: #0C0E2B;
  --darkcolor: #263546;
  --darkgray: #9FA2CE;
  --deepgray: #202942;
  --lightGrey: #7B8696;
  --lightGrey2: #7B8697;
  --lightGrey3: #7E858B;
  --lightGrey4: #A2A9B6;
  --lightGrey5: #F0F0F5;
  --lightGrey8: #F0F1F3;
  --lightGrey6: #6D6E75;
  --lightGrey7: #F3F4FD;
  --lightGrey9: #9F98B2;
  --lightGrey10: #F5F5FE;
  --lightGrey11: #F7F8FD;
  --lightGrey12: #f0f4f7;
  --greencolor: #44CEA9;
  --greencolor2: #1EC902;
  --greencolor3: #2EC14A;
  --orange: #FE2323;
  --borderColor: #eeeeee;
  --borderColor1: #E5E5E5;
  --borderColor2: #dddddd;
  --borderColor3: #f8f8f8;
  --borderColor4: #cacaca;
  --darkdeep1: #170F2F;
  --darkdeep2: #37404E;
  --darkdeep3: #F4F4F8;
  --darkdeep4: #949392;
  --darkdeep5: #62605D;
  --darkdeep6: #7E8285;
  --darkdeep7: #C4C4C4;
  --indigo: #B13BFF;
  --deepgreen: #133344;
  --deepblue: #505975;
  --deepred: #DC164D;
  --skycolor: #03A9F4;
  --yellow: #FF912C;
  --yellow1: #F0B410;
  --blue: #2864FF;
  --naveBlue: #17093e;
  --borderRadius: 4px;
  --borderRadius2: 20px;
  --borderRadius3: 10px;
  --transition: .3s;
  --bodyFont: "Inter", sans-serif;
  --headingFont: "Hind", sans-serif;
  --contentFont: "Inter", sans-serif;
}

/*------------------------------
Default CSS
-------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--bodyFont);
  background-color: var(--bodyBg);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  position: relative;
}

p {
  font-size: 16px;
  margin-bottom: 15px;
  color: var(--contentColor);
}

a {
  text-decoration: none;
  transition: var(--transition);
}

p,
a,
p,
input,
textarea,
li,
img {
  transition: all var(--transition) ease-out 0s;
}

a {
  color: var(--contentColor);
}

a:hover {
  color: var(--primaryColor);
}

input:focus-visible {
  outline: none;
}

h2,
h3,
h4,
h5 {
  color: var(--headingColor);
  font-family: var(--headingFont);
  transition: all 0.3s ease-out 0s;
  margin-bottom: 15px;
}

h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: var(--headingFont);
  color: var(--blackColor);
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
  display: inline-block;
}

.container,
.container-fluid {
  padding-right: var(--bs-gutter-x, 0.9375rem);
  padding-left: var(--bs-gutter-x, 0.9375rem);
  --bs-gutter-x: .9375rem;
}

.container-fluid.full__width__padding {
  padding: 0 30px;
}
@media (min-width: 1500px) and (max-width: 1920px) {
  .container-fluid.full__width__padding {
    padding: 0 150px;
  }
}
@media (min-width: 1366px) and (max-width: 1499px) {
  .container-fluid.full__width__padding {
    padding: 0 50px;
  }
}

.row {
  --bs-gutter-x: 1.875rem;
}

.sp_top_90 {
  padding-top: 90px;
}

.sp_top_50 {
  padding-top: 50px;
}

.sp_top_40 {
  padding-top: 40px;
}

.sp_bottom_100 {
  padding-bottom: 100px;
}

.sp_bottom_50 {
  padding-bottom: 50px;
}

.sp_bottom_40 {
  padding-bottom: 40px;
}

@media (min-width: 1500px) and (max-width: 1920px), (min-width: 1366px) and (max-width: 1499px) {
  .container {
    max-width: 1200px;
  }
}

.default__small__button {
  padding: 5px 23px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: var(--primaryColor);
  border-radius: var(--borderRadius2);
  background: var(--whitegrey3);
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.default__button {
  padding: 10px 25px;
  background-color: var(--primaryColor);
  color: var(--whiteColor);
  display: inline-block;
  text-align: center;
  border-radius: var(--borderRadius);
  font-size: 15px;
  border: 1px solid var(--primaryColor);
}
.default__button:hover {
  background-color: var(--whiteColor);
  color: var(--primaryColor);
  border-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

@keyframes dot-anim {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes dot-anim-2 {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes cir-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes move5 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.theme__shadow__circle {
  position: fixed;
  left: -250px;
  top: 200px;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 500px;
  height: 500px;
  border-radius: 1000px;
  background-image: linear-gradient(45deg, var(--secondaryColor), var(--primaryColor));
  opacity: 0.1;
  filter: blur(100px);
}

.theme__shadow__circle.shadow__right {
  left: auto;
  top: 100px;
  right: -250px;
  bottom: auto;
  opacity: 0.1;
  background-image: linear-gradient(45deg, var(--primaryColor), var(--secondaryColor));
}

.section__title {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .section__title {
    margin-bottom: 20px;
  }
}

.heading__underline span {
  position: relative;
}
.heading__underline span:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 7px;
  background: var(--secondaryColor);
  bottom: 22px;
  left: 0;
  z-index: -1;
}
@media (min-width: 992px) and (max-width: 1365px) {
  .heading__underline span:after {
    bottom: 17px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .heading__underline span:after {
    bottom: 19px;
  }
}
@media (max-width: 767px) {
  .heading__underline span:after {
    bottom: 16px;
  }
}

/*****************************************************
    37. Preloader CSS Here 
****************************/
.preloader {
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit- flex;
  display: -ms- flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
  position: fixed;
  z-index: 999999;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.preloader-logo {
  position: absolute;
}

.preloader-logo img {
  width: 78px;
}

#preloader-circle {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 5px;
  border-top-color: #d5eaff;
    border-right-color: #01155a;
    border-bottom-color: #d5eaff;
    border-left-color: #a56509;
  border-radius: 50%;
  animation: spinLoader 2s linear infinite;
}
@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*------------------------------
Header Area
-------------------------------*/

.headerarea__left {
  display: flex;
  height: 100%;
  align-items: center;
}
@media (min-width: 1500px) and (max-width: 1920px) {
  .headerarea .container {
    max-width: 1330px;
  }
}
@media (min-width: 1500px) and (max-width: 1920px) {
  .headerarea.headerarea__3 .container {
    max-width: 1460px;
  }
}
.header-menu {
  text-align: center;
}
.header-menu nav ul > li {
  position: relative;
}
.header-menu nav ul > li a {
  padding: 40px 20px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  color: var(--blackColor);
}
@media (min-width: 1366px) and (max-width: 1499px) {
  .header-menu nav ul > li a {
    padding: 30px 15px;
  }
}
@media (min-width: 992px) and (max-width: 1365px) {
  .header-menu nav ul > li a {
    padding: 20px 10px;
    font-size: 14px;
  }
}
.header-menu nav ul > li:hover > a {
  color: var(--primaryColor);
}
.headerarea__right {
  text-align: right;
  display: flex;
  justify-content: end;
  height: 100%;
  align-items: center;
}

/*------------------------------
Mobile Menu
-------------------------------*/
/*Mobile menu*/
.mob_menu_wrapper {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mobile-off-canvas .mobile-aside-button {
  color: var(--darkdeep1);
  font-size: 30px;
}

.mobile-logo img {
  max-width: 150px;
}

.mobile-off-canvas .mobile-aside-button:hover {
  color: var(--secondaryColor);
}

.header-right-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mobile-off-canvas {
  margin-left: 20px;
}

.mobile-off-canvas {
  text-align: right;
}

.mobile-aside-button {
  color: var(--darkdeep1);
  font-size: 20px;
}

.mobile-off-canvas-active .mobile-aside-close {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: var(--darkdeep1);
  color: var(--whiteColor);
  line-height: 40px;
  text-align: center;
  top: 0;
  left: -40px;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  transition: var(--transition);
}
.mobile-off-canvas-active .mobile-aside-close:hover {
  background: var(--secondaryColor);
}

.mobile-off-canvas-active {
  position: fixed;
  top: 0;
  width: 330px;
  min-height: 100vh;
  bottom: 0;
  z-index: 111;
  right: -330px;
  visibility: hidden;
  opacity: 1;
  transition: all 400ms ease-out;
  background-color: var(--whiteColor);
  box-shadow: 0 0 87px 0 rgba(0, 0, 0, 0.09);
  z-index: 9999;
}

@media only screen and (max-width: 767px) {
  .mobile-off-canvas-active {
    width: 260px;
    right: -260px;
  }
}

.mobile-off-canvas-active .mobile-aside-close:hover i {
  color: var(--whiteColor);
  transform: rotate(90deg);
}

.mobile-off-canvas-active .header-mobile-aside-wrap {
  padding: 40px 30px 50px;
  overflow: auto;
  height: 100%;
  box-shadow: 0 0 50px 10px rgba(95, 45, 237, 0.1);
}

@media only screen and (max-width: 767px) {
  .mobile-off-canvas-active .header-mobile-aside-wrap {
    padding: 30px 20px 50px;
  }
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-menu-wrap {
  border-bottom: 1px solid var(--borderColor);
  margin-bottom: 36px;
  padding-bottom: 27px;
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-menu-wrap .mobile-navigation nav {
  height: 100%;
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-menu-wrap .mobile-navigation nav .mobile-menu li {
  display: block;
  position: relative;
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-menu-wrap .mobile-navigation nav .mobile-menu li a {
  font-size: 16px;
  text-transform: capitalize;
  line-height: 18px;
  position: relative;
  display: inline-block;
  padding: 10px 0;
  font-family: var(--contentFont);
  color: var(--darkdeep1);
  font-weight: 500;
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-menu-wrap .mobile-navigation nav .mobile-menu li a:hover {
  color: var(--secondaryColor);
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap {
  border-bottom: 1px solid var(--borderColor);
  margin-bottom: 31px;
  padding-bottom: 37px;
}

@media only screen and (max-width: 767px) {
  .mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap {
    display: block;
  }
}
.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap .single-mobile-curr-lang {
  position: relative;
  margin-bottom: 15px;
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap .single-mobile-curr-lang:last-child {
  margin-bottom: 0;
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap .single-mobile-curr-lang a {
  font-size: 16px;
  display: block;
  letter-spacing: 0.2px;
  font-family: var(--contentFont);
  color: var(--darkdeep1);
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap .single-mobile-curr-lang {
    margin-bottom: 5px;
  }
  .mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap .single-mobile-curr-lang:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 991px) {
  .desktop__menu__wrapper {
    display: none;
  }
  .mob_menu_wrapper {
    display: block;
  }
}
/* mobail__menu__end */


/*Mobile menu*/
.mob_menu_wrapper {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mobile-off-canvas .mobile-aside-button {
  color: var(--darkdeep1);
  font-size: 30px;
}

.mobile-logo img {
  max-width: 150px;
}

.mobile-off-canvas .mobile-aside-button:hover {
  color: var(--secondaryColor);
}

.header-right-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mobile-off-canvas {
  margin-left: 20px;
}

.mobile-off-canvas {
  text-align: right;
}

.mobile-aside-button {
  color: var(--darkdeep1);
  font-size: 20px;
}

.mobile-off-canvas-active .mobile-aside-close {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: var(--darkdeep1);
  color: var(--whiteColor);
  line-height: 40px;
  text-align: center;
  top: 0;
  left: -40px;
  font-size: 18px;
  position: relative;
  cursor: pointer;
  transition: var(--transition);
}
.mobile-off-canvas-active .mobile-aside-close:hover {
  background: var(--secondaryColor);
}

.mobile-off-canvas-active {
  position: fixed;
  top: 0;
  width: 330px;
  min-height: 100vh;
  bottom: 0;
  z-index: 111;
  right: -330px;
  visibility: hidden;
  opacity: 1;
  transition: all 400ms ease-out;
  background-color: var(--whiteColor);
  box-shadow: 0 0 87px 0 rgba(0, 0, 0, 0.09);
  z-index: 9999;
}

@media only screen and (max-width: 767px) {
  .mobile-off-canvas-active {
    width: 260px;
    right: -260px;
  }
}

.mobile-off-canvas-active .mobile-aside-close:hover i {
  color: var(--whiteColor);
  transform: rotate(90deg);
}

.mobile-off-canvas-active .header-mobile-aside-wrap {
  padding: 40px 30px 50px;
  overflow: auto;
  height: 100%;
  box-shadow: 0 0 50px 10px rgba(95, 45, 237, 0.1);
}

@media only screen and (max-width: 767px) {
  .mobile-off-canvas-active .header-mobile-aside-wrap {
    padding: 30px 20px 50px;
  }
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-menu-wrap {
  border-bottom: 1px solid var(--borderColor);
  margin-bottom: 36px;
  padding-bottom: 27px;
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-menu-wrap .mobile-navigation nav {
  height: 100%;
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-menu-wrap .mobile-navigation nav .mobile-menu li {
  display: block;
  position: relative;
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-menu-wrap .mobile-navigation nav .mobile-menu li a {
  font-size: 16px;
  text-transform: capitalize;
  line-height: 18px;
  position: relative;
  display: inline-block;
  padding: 10px 0;
  font-family: var(--contentFont);
  color: var(--darkdeep1);
  font-weight: 500;
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-menu-wrap .mobile-navigation nav .mobile-menu li a:hover {
  color: var(--secondaryColor);
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap {
  border-bottom: 1px solid var(--borderColor);
  margin-bottom: 31px;
  padding-bottom: 37px;
}

@media only screen and (max-width: 767px) {
  .mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap {
    display: block;
  }
}
.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap .single-mobile-curr-lang {
  position: relative;
  margin-bottom: 15px;
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap .single-mobile-curr-lang:last-child {
  margin-bottom: 0;
}

.mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap .single-mobile-curr-lang a {
  font-size: 16px;
  display: block;
  letter-spacing: 0.2px;
  font-family: var(--contentFont);
  color: var(--darkdeep1);
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap .single-mobile-curr-lang {
    margin-bottom: 5px;
  }
  .mobile-off-canvas-active .header-mobile-aside-wrap .mobile-curr-lang-wrap .single-mobile-curr-lang:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 991px) {
  .desktop__menu__wrapper {
    display: none;
  }
  .mob_menu_wrapper {
    display: block;
  }
}
/* mobail__menu__end */

/*------------------------------
Hero Banner Area
-------------------------------*/
.herobannerarea {
  background: var(--darkdeep1);
  padding-top: 115px;
  padding-bottom: 170px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .herobannerarea {
    padding-top: 80px;
  }
}
@media (max-width: 767px) {
  .herobannerarea {
    padding-top: 50px;
    padding-bottom: 205px;
  }
}
.herobannerarea.herobannerarea__2 {
  background: var(--lightGrey11);
  padding-top: 155px;
  padding-bottom: 250px;
}
@media (min-width: 992px) and (max-width: 1365px) {
  .herobannerarea.herobannerarea__2 {
    padding-top: 100px;
    padding-bottom: 150px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .herobannerarea.herobannerarea__2 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767px) {
  .herobannerarea.herobannerarea__2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1500px) and (max-width: 1920px) {
  .herobannerarea.herobannerarea__2 .container {
    max-width: 1370px;
  }
}
.herobannerarea.herobannerarea__2 .herobannerarea__content__wraper {
  padding-right: 135px;
}
@media (min-width: 1366px) and (max-width: 1499px) {
  .herobannerarea.herobannerarea__2 .herobannerarea__content__wraper {
    padding-right: 0px;
  }
}
@media (min-width: 992px) and (max-width: 1365px) {
  .herobannerarea.herobannerarea__2 .herobannerarea__content__wraper {
    padding-right: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .herobannerarea.herobannerarea__2 .herobannerarea__content__wraper {
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  .herobannerarea.herobannerarea__2 .herobannerarea__content__wraper {
    padding-right: 0px;
  }
}

.herobannerarea__icon__2 .herobanner__common__img {
  position: absolute;
  z-index: 9;
}
.herobannerarea__icon__2 .herobanner__common__img.herobanner__img__1 {
  left: 40px;
  bottom: 233px;
  opacity: 0.33;
  animation: 3s linear 0s infinite normal none running move5;
}
@media (min-width: 1366px) and (max-width: 1499px) {
  .herobannerarea__icon__2 .herobanner__common__img.herobanner__img__1 {
    bottom: 112px;
  }
}
@media (min-width: 992px) and (max-width: 1365px) {
  .herobannerarea__icon__2 .herobanner__common__img.herobanner__img__1 {
    bottom: 112px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .herobannerarea__icon__2 .herobanner__common__img.herobanner__img__1 {
    left: 248px;
    bottom: 143px;
  }
}
.slider__controls__wrap .swiper-pagination {
    background-color: #01155a;
    height: 80px;
    padding-top: 29px;
    border-top-left-radius: 100%;
    border-start-end-radius: 100%;
    border-start-start-radius: 100%;
    border-top-right-radius: 100%;
    margin-bottom: -9px;
}
.slider__controls__wrap .swiper-pagination::before {
  content: "-";
  display: block;
  border-top-color: #fcfbff;
  border-top-style: solid;
  border-top-width: 10px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  height: 5px;
  width: 50%;
  margin: auto;
  padding-top: 29px;
  margin-top: -50px;
}
.slider__controls__wrap.slider__controls__arrows .arrow-btn {
  border: 1px solid var(--secondaryColor);
  width: 50px;
  height: 50px;
  border-radius: var(--borderRadius);
  transition: var(--transition);
  transform: translateY(-50%);
  margin-top: 0;
}
.slider__controls__wrap.slider__controls__arrows .arrow-btn:after {
  font-size: 20px;
  font-weight: 700;
  color: var(--secondaryColor);
  transition: var(--transition);
}
.slider__controls__wrap.slider__controls__arrows .arrow-btn:hover {
  border: 1px solid var(--secondaryColor);
  background-color: var(--secondaryColor);
}
.slider__controls__wrap.slider__controls__arrows .arrow-btn:hover:after {
  color: var(--whiteColor);
}

.herobannerarea .slider__controls__arrows .arrow-btn {
  right: 30px;
  opacity: 0;
  border-radius: 100px;
}
@media (min-width: 1500px) and (max-width: 1920px), (min-width: 1366px) and (max-width: 1499px) {
  .herobannerarea .slider__controls__arrows .arrow-btn {
    height: 70px;
    width: 70px;
  }
}
.herobannerarea .slider__controls__arrows .swiper-button-prev {
  left: 30px;
}
.herobannerarea:hover .slider__controls__arrows .arrow-btn {
  right: 0;
  opacity: 1;
}
.herobannerarea:hover .slider__controls__arrows .swiper-button-prev {
  left: 0;
}

@media (min-width: 1366px) and (max-width: 1499px) {
  .herobannerarea.herobannerarea__machine__learning {
    padding-top: 155px;
    padding-bottom: 180px;
  }
}
.herobannerarea.herobannerarea__machine__learning .herobannerarea__content__wraper {
  padding-right: 0;
}
.herobannerarea.herobannerarea__machine__learning .herobannerarea__icon__2 .herobanner__common__img.herobanner__img__1 {
  left: 40px;
  bottom: 10%;
}


/*------------------------------
About Area
-------------------------------*/

.brandarea__wraper {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

/*------------------------------
Popular Area
-------------------------------*/

.single__service {
  padding: 30px;
  box-shadow: 0 0 50px 10px rgba(95, 45, 237, 0.1);
  margin-bottom: 30px;
  transition: var(--transition);
  position: relative;
  border-radius: var(--borderRadius3);
  background: var(--whiteColor);
}
.single__service:hover {
  background: var(--primaryColor);
  transform: translateY(-5px);
}
.single__service:hover .service__small__img svg {
  opacity: 1;
}
.single__service:hover .service__img {
  color: var(--whiteColor);
}
.single__service:hover .service__img .service__icon path {
  fill: var(--whiteColor);
}
.single__service:hover .service__img .service__icon__bg path {
  fill: var(--whiteColor);
}
.single__service:hover .service__content h3 a {
  color: var(--whiteColor);
}
.single__service:hover .service__content h3 a:hover {
  color: var(--secondaryColor);
}
.single__service:hover .service__content p {
  color: var(--whiteColor);
}
.single__service.ss_margin {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .single__service.ss_margin {
    margin-top: 0;
  }
}
.single__service .service__content h3 a {
  color: var(--blackColor);
  font-family: var(--headingFont);
  transition: var(--transition);
}

.populerarea__2 {
  background-color: var(--lightGrey10);
}
.populerarea__2 .row {
  align-items: center;
}
.populerarea__2 .service__content h3 {
  font-size: 23px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 15px;
}
.populerarea__2 .single__service {
  padding: 35px;
}

.service__img {
  position: relative;
  margin-bottom: 10px;
}
.service__img img {
  max-width: 60px;
  margin-bottom: 10px;
}
.service__img svg {
  max-height: 60px;
  transition: var(--transition);
}
.service__img .service__bg__img svg {
  position: absolute;
  top: -13px;
  left: -10px;
  height: 60px;
  transition: var(--transition);
}

.service__content h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 5px;
}
@media (min-width: 992px) and (max-width: 1365px) {
  .service__content h3 {
    font-size: 17px;
    line-height: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .service__content h3 {
    font-size: 17px;
  }
}
.service__content p {
  line-height: 29px;
  margin-bottom: 0;
}

.service__small__img svg {
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0;
  max-height: 25px;
  max-width: 30px;
  transition: var(--transition);
}

@media (min-width: 992px) and (max-width: 1365px) {
  .populerarea__2 .service__content__2 h3 {
    font-size: 17px;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .populerarea__2 .service__content__2 h3 {
    margin-bottom: 0;
  }
}

.service__content__2 p {
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 992px) and (max-width: 1365px) {
  .service__content__2 p {
    font-size: 11px;
    line-height: 19px;
  }
}

.populerarea__2 {
  background: var(--lightGrey10);
}

@media (min-width: 768px) and (max-width: 991px) {
  .populerarea__content__wraper__2 {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .populerarea__content__wraper__2 {
    margin-bottom: 30px;
  }
}
.populerarea__content__wraper__2 .section__title {
  margin-bottom: 30px;
}
.populerarea__content__wraper__2 .populerarea__button__2 .default__button {
  background: var(--secondaryColor);
  color: var(--whiteColor);
  border: 1px solid var(--secondaryColor);
}
.populerarea__content__wraper__2 .populerarea__button__2 .default__button:hover {
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
  background: var(--whiteColor);
}

.populerarea__2 {
  background: var(--lightGrey10);
}

.service__wrap__content {
  position: relative;
}
.service__wrap__content .service__animate__shape__2 img {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  animation: move5 3s infinite linear;
}
.has-float {
  position: relative;
}
.has-float img.float-bg {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50px;
  animation: move5 3s infinite linear;
  z-index: -99;
}

.about__wrap__content {
  position: relative;
}
.about__wrap__content .service__animate__shape__1 img {
  position: absolute;
  right: 50px;
  bottom: -50px;
  animation: dot-anim-2 3s linear 0s infinite alternate;
}
@media (min-width: 768px) and (max-width: 991px) {
  .about__wrap__content .service__animate__shape__1 img {
    bottom: 38px;
  }
}
@media (max-width: 767px) {
  .about__wrap__content .service__animate__shape__1 img {
    bottom: 36px;
  }
}

.animate__content .single__service {
  width: fit-content;
  margin: 0 10px;
}


/*------------------------------
Contact Area
-------------------------------*/
.contact-form {
  background-image: url(../img/gado/gado_1-001.jpg);
  position: relative;
  margin-bottom: 150px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-form {
    padding-bottom: 80px;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .contact-form {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 0;
  }
}
.contact-form::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  right: auto;
  background: rgba(1, 21, 90, 0.92);
  top: 0;
  bottom: 0;
}

.contact-form-wraper {
  max-width: 85%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-form-wraper {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .contact-form-wraper {
    max-width: 100%;
  }
}

.contact-form-content {
  z-index: 1;
  position: relative;
}

.contact-form-area {
  position: relative;
  z-index: 1;
  padding: 40px 35px 35px 35px;
  background: var(--lightGrey10);
  box-shadow: 0px 30px 40px 0px rgba(1, 11, 60, 0.06);
  border-radius: var(--borderRadius);
  margin-bottom: -150px;
  /* transform: skewX(-3deg); */
}
@media (min-width: 992px) and (max-width: 1365px) {
  .contact-form-area {
    padding: 30px 25px 25px 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-form-area {
    margin-bottom: 0;
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .contact-form-area {
    margin-bottom: 0;
    margin-top: 60px;
    padding: 30px 25px 25px 25px;
  }
}
.contact-form-area .contact-form-area-_heading h4 {
  font-family: var(--bodyFont);
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
.form-control {
  height: 50px;
  width: 100%;
  border: none;
  background: var(--lightGrey8);
  padding: 10px 15px;
  font-size: 16px;
  line-height: 54px;
  margin-bottom: 25px;
}

.contact-form-img .register__1 {
  position: absolute;
  top: 8%;
  left: 8%;
  animation: 3s linear 0s infinite alternate none running dot-anim-2;
}
@media (min-width: 1366px) and (max-width: 1499px) {
  .contact-form-img .register__1 {
    left: 0%;
  }
}
@media (min-width: 992px) and (max-width: 1365px) {
  .contact-form-img .register__1 {
    top: 0%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-form-img .register__1 {
    top: 0%;
    left: 0;
  }
}
@media (max-width: 767px) {
  .contact-form-img .register__1 {
    top: 0%;
    left: 0;
  }
}
.contact-form-img .register__2 {
  position: absolute;
  top: 50%;
  left: 11%;
  animation: cir-anim 6s linear 0s infinite alternate;
}
@media (min-width: 1366px) and (max-width: 1499px) {
  .contact-form-img .register__2 {
    left: 4%;
  }
}
@media (min-width: 992px) and (max-width: 1365px) {
  .contact-form-img .register__2 {
    left: 54%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-form-img .register__2 {
    left: 71%;
    top: 24%;
  }
}
@media (max-width: 767px) {
  .contact-form-img .register__2 {
    left: 84%;
    top: 24%;
  }
}
.contact-form-img .register__3 {
  position: absolute;
  top: 60%;
  left: 3%;
  animation: 3s linear 0s infinite alternate none running dot-anim;
}
@media (min-width: 1366px) and (max-width: 1499px) {
  .contact-form-img .register__3 {
    left: 0%;
    top: 73%;
  }
}
@media (min-width: 992px) and (max-width: 1365px) {
  .contact-form-img .register__3 {
    top: 74%;
    left: 12%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact-form-img .register__3 {
    top: 3%;
    left: 83%;
  }
}
@media (max-width: 767px) {
  .contact-form-img .register__3 {
    top: 3%;
    left: 63%;
  }
}

/*------------------------------
Counter Area
-------------------------------*/

/*------------------------------
Team Area
-------------------------------*/
@media (min-width: 992px) and (max-width: 1365px) {
  .teamarea {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .teamarea {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .teamarea {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .single-team {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .single-team {
    margin-bottom: 30px;
  }
}
.single-team .team {
  position: relative;
  margin-bottom: 20px;
}
.single-team .team img {
  width: 100%;
}
.single-team .team:hover .team-icon {
  right: 20px;
  opacity: 1;
  visibility: visible;
}
.single-team .team .team-icon {
  position: absolute;
  top: 20px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.single-team .team .team-icon ul li {
  display: block;
}
.single-team .team .team-icon ul li i {
  height: 41px;
  width: 41px;
  line-height: 41px;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  color: var(--darkdeep4);
  display: inline-block;
  margin-bottom: 10px;
  background: var(--whiteColor);
  box-shadow: 0px 10px 15px rgba(221, 221, 221, 0.15);
  border-radius: 5px;
  transition: var(--transition);
}
.single-team .team .team-icon ul li i:hover {
  background: var(--primaryColor);
  color: var(--whiteColor);
}
.single-team .team-content p {
  margin: 0;
}
.single-team .team-content h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: var(--blackColor);
}

.team-margin {
  margin-bottom: 20px;
}

.blogarea__bottom__button {
  text-align: center;
  margin-top: 50px;
}
.blogarea__bottom__button a {
  padding: 15px 47px;
}

.animate__content {
  background-color: var(--borderColor);
  overflow: hidden;
}
.animate__content__wrap {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  position: relative;
  will-change: transform;
  animation: marquee 50s linear 0s infinite normal;
  animation-play-state: running;
}
.animate__content__wrap:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*------------------------------
Footer Area
-------------------------------*/
.footer-area {
  background: var(--darkblack);
}
.footer-area-newsletter {
  padding-bottom: 45px;
  padding-top: 65px;
  border-bottom: 1px solid var(--secondaryColor);
}
.footer-area__newsletter__input {
  position: relative;
}
.footer-area__newsletter__input input {
  width: 100%;
  color: var(--whiteColor);
  height: 62px;
  background: var(--deepgray);
  font-size: 16px;
  padding-left: 15px;
  border: 1px solid var(--deepgray);
  border-radius: var(--borderRadius);
}
.footer-area__newsletter__input input::-moz-placeholder {
  color: var(--darkgray);
}
.footer-area__newsletter__input input:focus {
  border: 1px solid var(--whitegrey);
}
.footer-area__newsletter__button {
  position: absolute;
  top: 0;
  right: 0;
}
.footer-area__newsletter__button a {
  padding: 0 20px;
  background: var(--primaryColor);
  text-align: center;
  color: var(--whiteColor);
  display: inline-block;
  border: 1px solid var(--primaryColor);
  border-radius: var(--borderRadius);
  font-size: 15px;
  height: 62px;
  line-height: 62px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer-area__newsletter__button a {
    padding: 0 10px;
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .footer-area__newsletter__button a {
    padding: 0 13px;
    font-size: 12px;
  }
}
.footer-area__newsletter__button a:hover {
  background: inherit;
  border: 1px solid var(--primaryColor);
}

.footer-area-newsletter .row {
  align-items: center;
}
.footer-area__text p {
  color: rgba(255, 255, 255, 0.65);
  margin-bottom: 0;
}

@media (min-width: 992px) and (max-width: 1365px), (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
  .footer-area.footer-area-logo {
    background-image: none !important;
  }
}

/*------------------------------
Dark Mode
-------------------------------*//*# sourceMappingURL=style.css.map */